body {
    font-family: sans-serif;
    text-align: center;
}

#timer {
    margin: 50px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 50px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
